.filter {
    position: absolute;
    left: 601px;
}

.err-msg {
    color: red;
    position: absolute;
    top: 39px;
    left: 448px;
}

.data-file-upload {
    position: absolute;
    left: 600px;
    top: 250px;
}

.add-btn {
    position: relative;
    top:30px
}
